* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to left, #283f52, #4b78a0);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.home {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    background-color: white;
    width: 900px;
    height: 400px;
}

#anime {
    max-width: 300px;
    max-height: 200px;
    border: 2px solid #ccc;
    border-radius: 10px;
}

#sair {
    margin-top: 20px;
    background-color: #4b78a0;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#sair:hover {
    background-color: #3c5b77;
}